body {
  margin: 0;
  font-family: monospace;
}

#pokemon-header {
  display: flex;
  justify-content: center;
  background: #fbd204;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

img {
  border: 5px solid #323131;
}

#pokemon-header img {
  height: 7rem;
  width: 150px 
}

#pokemon-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.pokemon-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #515DA2;
  opacity: .8;
}

.container-black {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #030303;
  opacity: .8;
}

.add-pokemon-form {
  width: 60%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

